<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HomemadeWebpage</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bree+Serif&amp;family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&amp;family=Teko&amp;family=Work+Sans:wght@300&amp;display=swap'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-expand-md navbar-light navbar fixed-top">
  <div class="container-fluid"><a class="navbar-brand" href="#header">League of Legends </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item"><a class="nav-link active" aria-current="page" href="#section_ask">Ask</a></li>
      <li class="nav-item"><a class="nav-link" href="#section_about">About   </a></li>
      <li class="nav-item"><a class="nav-link" href="#section_map_objects">MapObjects</a></li>
      <li class="nav-item"><a class="nav-link" href="#section_role">RoleList</a></li>
      <li class="nav-item"><a class="nav-link" href="#section_message">Contact</a></li>
    </ul>
  </div>
</nav>
<header class="p-5 text-center" id="header">
  <div class="container">
    <h1 data-0="transform: translateY(-100px)" data-500="transform: translateY(100px)">英雄聯盟</h1>
    <hr/>
    <h4>S2's World Champion is Taiwan</h4>
  </div>
</header>
<section></section>
<div class="container" id="all_bgi">
  <section id="section_ask">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 img" data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)"></div>
        <div class="col-md-6 col-sm-12" data-300="opacity: 0" data-500="opacity: 1">
          <h2>這款遊戲為何吸引我呢?</h2>
        </div>
      </div>
    </div>
  </section>
  <section id="section_about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"> 
          <h1 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">關於英雄聯盟</h1>
          <hr/>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="img_wrap1" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"></div>
          <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">起源</h3>
          <p data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">《英雄聯盟》<br>（League of Legends，簡稱LoL）<br>由Riot Games開發及發行的一款5v5多人線上戰鬥技術型（MOBA）遊戲，遊戲為免費模式進行並提供付費道具服務。<br><br>該遊戲是受到《魔獸爭霸III：寒冰霸權》中一个名為DotA第三方自定義地圖啟發而誕生，且至今仍不斷定期更新</p>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="img_wrap2" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"></div>
          <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">遊戲種類</h3>
          <li data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">招喚峽谷
            <ul>
              <li>盲選</li>
              <li>單 / 雙排積分</li>
              <li>彈性積分</li>
            </ul>
          </li>
          <li data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">隨機單中
            <ul>
              <li>咆嘯深淵</li>
            </ul>
          </li>
          <li data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">其他
            <ul>
              <li>終極法書</li>
              <li>聯盟戰旗</li>
              <li>阿福快打(限時模式)</li>
            </ul>
          </li>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="img_wrap3" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px); opacity: 1"></div>
          <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px); opacity: 1">S2的世界冠軍</h3>
          <p data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">還記得那天，世界總決賽的時間是台灣時間凌晨1、2點，比到快天亮終於台灣隊贏得了比賽。<br><br>當下的心情又興奮又激動，卻又不敢直接宣洩出來，怕吵醒家人，而我對英雄聯盟的熱情就從那時開始，直到現在依然尚未停止。<br>希望台灣能再次贏得一次冠軍，加油台灣!!</p>
        </div>
      </div>
    </div>
  </section>
  <section id="section_map_objects">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12" data-1000="transform: translateX(-200px)" data-1400="transform: translateX(0px)">
          <div class="img_map"><img src="https://www.newton.com.tw/img/a/6d1/nBnauQmN2MGZzETNhZGOwMWZiFWNjhTNkVjZhBDZyYzNyMjNzETY4MWZ4E2LtVGdp9yYpB3LltWahJ2Lt92YuUHZpFmYuMmczdWbp9yL6MHc0RHa.jpg" alt=""/>
            <div class="bigdragon i fa fa-firefox" data-1300="opacity: 0" data-1400="opacity: 1"></div>
            <div class="smalldragon i fa fa-ravelry" data-1300="opacity: 0" data-1400="opacity: 1"></div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12" data-1000="transform: translateX(200px)" data-1400="transform: translateX(0px)">
          <div class="col-sm-12">
            <h2>重要地圖物件</h2>
            <hr/>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4"><i class="fa fa-firefox"></i>
                <h4>巴龍</h4>
              </div>
              <div class="col-sm-4"><i class="fa fa-ravelry"></i>
                <h4>小龍/科技龍</h4>
              </div>
              <div class="col-sm-4"><i class="fa fa-optin-monster"></i>
                <h4>野怪</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <h5>巴龍：</h5>
                <p>位於河道左上方巴龍池內，殺死巴龍的隊伍可以取得3分鐘的增益效果。</p>
              </div>
              <div class="col-md-4 col-sm-12">
                <h5>小龍：</h5>
                <p>位於河道右下方龍池內，殺死飛龍的隊伍可以依不同的飛龍類型取得維持整場遊戲的相應增益效果。</p>
              </div>
              <div class="col-md-4 col-sm-12">
                <h5>野怪：</h5>
                <p>分為大型與小型兩種，殺死它們後玩家可以取得經驗和金錢。有部分大型野怪會提供額外的增益效果。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section_role">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>專精角色</h1>
          <hr/>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <div class="img_role" id="imgrole_0"><img src="https://www.mobafire.com/images/champion/skins/portrait/ezreal-classic.jpg" alt=""/>
            <div class="imgname" name-en="Ezreal" name-ch="伊澤瑞爾">伊澤瑞爾</div>
          </div>
          <div id="role_list_0"></div>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <div class="img_role" id="imgrole_1">
            <div class="imgname" name-en="Leblanc" name-ch="勒布朗">勒布朗</div><img src="https://www.mobafire.com/images/champion/skins/portrait/leblanc-classic.jpg" alt=""/>
          </div>
          <div id="role_list_1"></div>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <div class="img_role" id="imgrole_2">
            <div class="imgname" name-en="Tryndamere" name-ch="泰達米爾">泰達米爾</div><img src="https://www.mobafire.com/images/champion/skins/portrait/tryndamere-classic.jpg" alt=""/>
          </div>
          <div id="role_list_2"></div>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <div class="img_role" id="imgrole_3">
            <div class="imgname" name-en="LeeSin" name-ch="李星">李星</div><img src="https://www.mobafire.com/images/champion/skins/portrait/lee-sin-classic.jpg" alt=""/>
          </div>
          <div id="role_list_3"></div>
        </div>
      </div>
      <div class="row">
        <div class="marquee">
          <ul>
            <li>💖 點擊圖片可以看角色資訊哦 💖</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div id="appvideo">
          <div class="col-sm-12">
            <h4>Game HightLight</h4>
            <hr/>
            <label>{{status}}
              <input type="checkbox" v-model="mode_model" v-on:click="changelabel"/>
            </label><br/>
          </div>
          <div class="col-md-4 col-sm-6 col-12" v-for="myvideo in myvideos" v-bind:class="mode_model?'video':''">
            <div class="infos">
              <div class="model" v-if="!mode_model"><img v-bind:src="myvideo.img_link"/>
                <div class="name">{{myvideo.name}}</div>
              </div>
              <div class="model" v-if="mode_model">
                <iframe v-bind:src="myvideo.video_link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section_message">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>與小編分享您的心路歷程吧!!</h1>
          <hr/>
        </div>
        <div class="col-sm-12"><i class="fa fa-phone"> <span>電話: 0988525938</span></i><i class="fa fa-home"> <span>位址: 台灣</span></i><i class="fa fa-envelope-o"> <span>電子郵件: a896522002@yahoo.com.tw</span></i></div>
        <div class="col-sm-12">
          <form id="formMessage" name="formMessage" method="post">
            <div class="form-group">
              <label>使用者名稱:</label>
              <input class="form-control" id="name" type="text" placeholder="Username..." name="name" required="required"/>
            </div>
            <div class="form-group">
              <label>使用者信箱:</label>
              <input class="form-control" id="exampleInputEmail1" type="email" placeholder="E-mail..." name="email" required="required"/>
            </div>
            <div class="form-group">
              <label>給小編的訊息:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" type="text" placeholder="Message..." name="message" required="required"></textarea>
            </div>
            <input class="btn btn-success" id="button" type="submit" name="button" value="發送"/>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="p-5 text-center">
  <div class="container"><a href="https://www.instagram.com/a896522002/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" alt="Instagram"/></a><a href="https://www.facebook.com/profile.php?id=100002128189845" target="_blank"> <img src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19748.png" alt="Facebook"/></a></div>
</footer>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js'></script>
<script src='https://unpkg.com/sweetalert/dist/sweetalert.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.7/index.js'></script><script  src="./script.js"></script>

</body>
</html>
